<%= render 'shared/errors' %>

<div class="card" style="background-color: rgba(0, 0, 0, 0);">
  
  
  <div class="card-header gradientable2 d-flex justify-content-center">
    <h1 style="color:black !important;">Editing current post</h1>
  </div>
  <% if @post.file.attached? %>
    <%= image_tag @post.file %>
    <%= link_to 'Remove image', remove_image_posts_url(@post.file.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <% end %>
  

  <div class="card-body new-post-card-body">
    <%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <%= f.label :title, class: 'create-label' %>
        <%= f.text_field :title, class: "form-control field post-input", placeholder: "Title of article", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :body, class: 'create-label' %>
        <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Body of article" %>
      </div>

      <div class="form-group">
        <label for="formFileLg" class="form-label">Wanna express yourself even further? <b>Upload a photo</b></label>
        <%= f.file_field :file, class: "form-control form-control-lg", id:"validatedCustomFile" %>
      </div>

      <div class="form-group d-flex align-items-center justify-content-end">
        <p class="align-self-center status-string">This post has a  <span>
        <%= f.select(:status, ['public', 'private'], {}, { :class => 'status-select' }) %></span>
        status</p>
        <%= f.submit class: 'btn create-btn'%>
      </div>
      <% end %>
    
  </div>
  <div class="card-footer new-post-card-body">
  </div>
</div>








<!--
<div class="row">
 <div class="col-xs-12">
  <%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group">
   <div class="control-label col-sm-2">
    <%= f.label :title %>
   </div>
   <div class="col-sm-6">
    <%= f.text_field :title, class: "form-control field", placeholder: "Title of article", autofocus: true %>
   </div>
  </div>
  <div class="form-group">
   <div class="control-label col-sm-2">
    <%= f.label :body %>
   </div>
   <div class="col-sm-6">
    <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Body of article" %>
   </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: 'btn btn-primary btn-large' %>
   </div>
    <div class="form-group">
      <%= f.label :status %><br>
      <%= f.select :status, ['public', 'private'], selected: 'public' %>
    </div>
  </div>
  <%= f.file_field :file %>

<% end %>
 </div>
</div>-->