<%= render 'shared/errors' %>

<div class="card" style="background-color: rgba(0, 0, 0, 0);">
  <div class="card-header gradientable d-flex justify-content-center">
    <h1 style="color:black !important;">Create a new post</h1>
  </div>
  <div class="card-body new-post-card-body">
    <%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control field", placeholder: "Title of article", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Body of article" %>
      </div>

      <div class="form-group">
        Wanna express yourself even further? Upload a photo <%= f.file_field :file %>
      </div>

      <div class="form-group">
        
        <%= f.submit class: 'btn btn-primary btn-large' %>
        <%= f.label :status %>
        <%= f.select :status, ['public', 'private'], selected: 'public' %>
        
      </div>

      <div class="form-group">
        
      </div>
    <% end %>
    

  </div>
</div>







<!--
<div class="row">
 <div class="col-xs-12">
  <%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group">
   <div class="control-label col-sm-2">
    <%= f.label :title %>
   </div>
   <div class="col-sm-6">
    <%= f.text_field :title, class: "form-control field", placeholder: "Title of article", autofocus: true %>
   </div>
  </div>
  <div class="form-group">
   <div class="control-label col-sm-2">
    <%= f.label :body %>
   </div>
   <div class="col-sm-6">
    <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Body of article" %>
   </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: 'btn btn-primary btn-large' %>
   </div>
    <div class="form-group">
      <%= f.label :status %><br>
      <%= f.select :status, ['public', 'private'], selected: 'public' %>
    </div>
  </div>
  <%= f.file_field :file %>

<% end %>
 </div>
</div>-->