<% @posts.each do |post| %>
    <div class="card view-post" style="margin:1%">
        
        <% if post.file.attached? %>
            <img class="card-img-top" src="<%= url_for(post.file) %>" alt="Card image cap">
        <% end %>

        <div class="card-header post-title">
            <%= link_to post.title, post_path(post), class: "card-title" %>
        </div>
        <div class="card-body post-body">
            <blockquote class="blockquote mb-0">
            <%= truncate(post.body, length: 100) %>
            </blockquote>
        </div>
        <div class="card-footer d-flex index-card">
            <div class="mr-auto p-2">
                <p> Created by <b><%= post.author.username %></b> <%= time_ago_in_words(post.created_at) %> ago</p>
            </div>
            <div class="p-2">
                <%= link_to post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} do %>
                    <% if policy(post).destroy? %> 
                        <h5><i class="fas fa-trash-alt delete-button"></i></h5>
                    <% end %>
                <% end %>
            </div>
            <div class="p-2">
                <%= link_to edit_post_path(post) do%>
                    <% if policy(post).update? %> 
                    <h5><i class="far fa-edit edit-button"></i></h5>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>