<script>
  var extended=false;

  function checkSize(){
      var pic=document.getElementById('photo');
      console.log(pic.naturalHeight*(pic.width/pic.naturalWidth));
      console.log(window.innerHeight*0.4);

      if(pic.naturalHeight*(pic.width/pic.naturalWidth)<(window.innerHeight*0.4)){
          document.getElementById("opening").style.visibility="hidden";
          console.log("image small enough, allowed to keep it");
      }else{
          document.getElementById("opening").style.visibility="visible";
          console.log("Too big, make it shrinkable");
      }
  }

  function goBig(){
      
      if(!extended){
          console.log("Extending the pic");
          var pic=document.getElementById('photo');
          var newHeight=pic.naturalHeight*(pic.width/pic.naturalWidth)+10;
          document.getElementById('image-container').style.maxHeight=newHeight+"px";
          document.getElementById('opening').innerHTML="Collapse an image <i class='fas fa-chevron-up'></i>";
          extended=true;
      }else{
          console.log("SHRINK IT");
          document.getElementById('image-container').style.maxHeight="40vh";
          document.getElementById('opening').innerHTML="Expand an image <i class='fas fa-chevron-down'></i>";
          extended=false;
      }
  }
</script>


<div class="card post-card" style="margin-top: 5%">
  <div class="card-header d-flex">
    <div class="mr-auto p-2">
      <%= link_to posts_path do%>
        <h3><i class="fas fa-chevron-left back-button" ></i></h3>
      <% end %>
    </div>
    
    <div class="mr-auto p-2">
      <h1 class="card-title" style="color: black !important;"><%= @post.title %></h1>
    </div>
    
    <div class="p-2">
      <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} do %>
        <% if policy(@post).destroy? %> 
          <h3><i class="fas fa-trash-alt delete-button"></i></h3>
        <% end %>
      <% end %>
    </div>

    <div class="p-2">
      <%= link_to edit_post_path(@post) do%>
        <% if policy(@post).update? %> 
          <h3><i class="far fa-edit edit-button"></i></h3>
        <% end %>
      <% end %>
    </div>

  </div>

  <% if @post.file.attached? %>
    <div id="image-container">
      <%= image_tag @post.file, id: "photo", onload: "checkSize()" %>
    </div>
  <% end %>
  
  
  
  
  
  <div class="card-header d-flex" >
    <div class="mr-auto p-2">
      <p style="margin: 0px !important;"><i>Posted by <b><%= @post.author.username %></b> <%= @post.created_at.strftime("on %d/%m/%Y at %I:%M%p") %></i></p>
    </div>
    <div class="p-2" style="padding: 0px !important;">
      <% if @post.file.attached? %>
        <button class="btn btn-secondary" id="opening" onclick="goBig()">Expand image <i class="fas fa-chevron-down"></i></button>
      <% end %>
    </div>
  </div>
  
  <div class="card-body">
    <p class="card-text post-body"> 
      <% if @post.body==""%>
        <i>This post has no body</i>
      <% else %>
        <%= @post.body%>
      <% end %>
    </p>
  </div>
  
  <div class="card footer">
   
   <div class="d-flex">
    <div class="mr-auto p-2">
      <h3 style="color: black !important;">Comments</h3>
    </div>
    <div class="p-2">
      <h4 style="color: gray !important;"> <%= @post.comments.length%> comments</h4>
    </div>
   </div>
    <%= render @post.comments %>
    <%= render 'comments/form' %>
  </div>
</div>
