<div class="d-flex justify-content-center h-100">
  <div class="card mb-3 sign-in" style="max-width: 1000px; min-width: 50%">
    <div class="row">
      <div class="col-4 gradientable">
        <h1 style="color:black !important; text-align: center;">Edit your info</h1>
        <hr class="black-splitter">
        <p>Careful there, big guy! Don't break anything. Especially watch out for that delete account button</p>
      </div>
      <div class="col-8">
        <div class="card-header">
          <h3>Your information</h3>
        </div>
        <div class="card-body">
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="input-group mb-2">
              <div class="input-group-prepend edit-prep">
                <div class="input-group-text edit-label">Username</div>
              </div>
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
            </div>
            
            <div class="input-group mb-2">
              <div class="input-group-prepend edit-prep">
                <div class="input-group-text edit-label">Email address</div>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="input-group mb-2">
              <div class="input-group-prepend edit-prep">
                <div class="input-group-text edit-label">New password</div>
              </div>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Not changed", class: "form-control" %>
            </div>

            <div class="input-group mb-2">
              <div class="input-group-prepend edit-prep">
                <div class="input-group-text edit-label">Confirm password</div>
              </div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Not changed"%>
            </div>
            
            <p style="color: white; margin-bottom: 0px; margin-top:1em;">Enter your password to confirm the changes</p>
            <div class="input-group form-group">
              
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder: "Your password" %>
            </div>

            <div class="form-group">
              <%= f.submit "Apply changes", class: "btn float-right login-btn" %>
            </div>
          <% end %>
            </div>
            <hr class="separator white-splitter">
            <div class="d-flex justify-content-end">
              <h4 style="margin-right: 1em;">Tired of blogging? </h4>
              <%= button_to "Nuke my account", registration_path(resource_name), 
              data: { confirm: "Are you sure?" }, class: "btn", id: 'nuke-it', method: :delete %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
